---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
{%- set seiten = ["/", "/videos.html", "/artikel/", "/karte.html", "/quellen.html", "/unterstuetzen.html", "/kooperationen.html", "/kontakt.html"] %}
{%- for pfad in seiten %}
  <url>
    <loc>https://marschbefehl.com{{ pfad }}</loc>
    <changefreq>monthly</changefreq>
  </url>
{%- endfor %}
{%- for eintrag in collections.artikel %}
  <url>
    <loc>https://marschbefehl.com{{ eintrag.url }}</loc>
    <lastmod>{{ eintrag.data.datum | datumIso }}</lastmod>
    <changefreq>yearly</changefreq>
  </url>
{%- endfor %}
</urlset>
